/*
FOUNDATION
*/

:root{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
body * + * {
    margin-top:1.5em;

}

/*
GENERIC
*/

body{
    background: #bbb;
    font-family: Arial, sans-serif;
}

header,
footer{
    background-color: #0072b0 ;
    color:white;
    padding: .5em 1.5em;

}

footer{
    font-size: larger;
}

main{
    background-color: #ffffff;
    padding: 0 1.5em 1.5em 1.5em;
}

header,
footer,
main,
article{
    border-radius: .5em;
}

article{
    width:calc(50% - 1.5em/2);
    float:left;
    background-color: #bbb;
}

/*
CLEARFIX
*/

section::after{
    display: block;
    content: "";
    clear: both;
}

/* 
MARGIN COLLAPSE 
*/

div.articles :nth-child(2n+1)
{
    margin-right:1.5em;
}

div.articles :first-child
{
    margin-top:1.5em;
}

section::before{
    display: table;
    content: "";
}